<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Indice</title>

	<script src="https://code.jquery.com/jquery-3.7.0.min.js"
		integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.toast.css}">
	<script th:src="@{/js/jquery.toast.js}"></script>
	<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/css/stylelogin.css}" />
	<title>Sign in & Sign up Form</title>
</head>

<body>
	<div class="container">
		<div class="forms-container">
			<div class="signin-signup">
				<form th:action="@{/usuario/acceder}" method="post" class="sign-in-form">
					<h2 class="title">Sign in</h2>
					<div class="input-field">
						<i class="fas fa-user"></i>
						<input type="text" placeholder="email" name="email" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input type="password" placeholder="Password" name="password" />
					</div>
					<input type="submit" value="Login" class="btn solid" />

					<p class="social-text"><a th:href="@{/}">Regresar al Index</a></p>
					<div class="social-media">
						<a href="#" class="social-icon">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-google"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</div>
				</form>

				<form th:action="@{/usuario/guardar}" method="post" class="sign-up-form">
					<h2 class="title">Sign up</h2>

					<div class="input-field">
						<i class="fas fa-user"></i>
						<input type="text" placeholder="Username" name="username" />
					</div>

					<div class="input-field">
						<i class="fas fa-envelope"></i>
						<input type="email" placeholder="Email" name="email" />
					</div>

					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input type="password" placeholder="Password" name="password" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input type="text" name="telefono" placeholder="Telefono" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input type="text" name="direccion" placeholder="Direccion" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input type="text" name="nombre" placeholder="Nombre" />
					</div>


					<input type="submit" class="btn" value="Sign up" />
					<p class="social-text"><a th:href="@{/}">Regresar al Index</a></p>
					<div class="social-media">
						<a href="#" class="social-icon">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-google"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</div>
				</form>
			</div>
		</div>

		<div class="panels-container">
			<div class="panel left-panel">
				<div class="content">
					<h3>Aun no tienes cuenta?</h3>
					<p>
						Que esperas , registrate aqui.Haz click en el boton sign up
					</p>
					<button class="btn transparent" id="sign-up-btn">
						Sign up
					</button>
				</div>
				<img th:src="@{/img/log.svg}" class="image" alt="" />
			</div>
			<div class="panel right-panel">
				<div class="content">
					<h3>Inicia sesión aquí</h3>
					<p>
						Dale click a sign in.
					</p>
					<button class="btn transparent" id="sign-in-btn">
						Sign in
					</button>
				</div>
				<img th:src="@{/img/register.svg}" class="image" alt="" />
			</div>
		</div>
	</div>
<div th:if="${mensaje != null}">
		<script>
			var mensaje = '[[${mensaje}]]';

			$.toast({
				heading: '<b>Alerta</b>',
				text: mensaje,
				showHideTransition: 'slide',
				hideAfter: 6000,
				icon: 'error',
				position: 'top-right'
			})
		</script>
	</div>
	<script th:src="@{/js/app.js}"></script>
	<!--	<div class="container">-->
	<!--		<div class="card mb-3">-->
	<!--			<h2>Ingresar</h2>-->
	<!--		</div>-->

	<!--		<form th:action="@{/usuario/acceder}" method="post">-->
	<!--			<div class="form-group">-->
	<!--				<label for="email"> Email: </label>-->
	<!--				<input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email" required-->
	<!--					autocomplete="off">-->

	<!--			</div>-->

	<!--			<div class="form-group">-->
	<!--				<label for="pwd"> Contraseña:</label>-->
	<!--				<input type="password" class="form-control" id="password" name="password"-->
	<!--					placeholder="Ingrese su contraseña" required>-->
	<!--			</div>-->

	<!--			<div class="form-group">-->
	<!--				<div class="col-sm-2">-->
	<!--					<button type="submit" class="btn btn-dark"> <span class="glyphicon glyphicon-ok"></span>-->
	<!--						Ingresar</button>-->
	<!--				</div>-->
	<!--			</div>-->
	<!--		</form>-->
	<!--		<a th:href="@{/usuario/registro}" class="card-link">Si aún no tiene cuenta aqui puede registrarse</a>-->
	<!--	</div>-->


</body>

</html>